body {
	background-color: #f5f6fa;
	color: #2f3640;
	background-image: url("images/church.png");
}

.contentWrap {
	margin-top: 15px;
	padding-bottom: 15px;
}

.contentWrap img { 
	border: 3px solid #2f3640;
}

hr {
	width: 450px;
    border-color: #727878;
    opacity: 0.2;
}